@media screen and (max-width:400px){
    .container2{
        margin-right: 100px;
        width: 100%;
        height: 40px;
color: yellow;
    }
    .container{
        width: 100%;
        height: 300px;
    }
}